In [1]:
import numpy as np
import pandas as pd
import sys
import getpass
import matplotlib.pyplot as plt
np.set_printoptions(precision=2)
pd.set_option('precision', 2)

df = pd.read_csv('C:\Users\\'+getpass.getuser()+'\\Google Drive\Sarah Ido folder\data\CCK\CCK click stream data\phet_cck_user_actions+sophistication_WITHPAUSE.csv')
df["Student#"] = df["Student#"].astype('category')
df["Family"]=df["Family"].str.capitalize()
#getting knowledge and attitude data for each student
df_scores = pd.read_csv('C:\Users\\'+getpass.getuser()+'\\Google Drive\Sarah Ido folder\data\CCK\\2015.05.15 all CCK_cleaned.csv')

#Fixing student ids
# one student has two number 20717120 and 20377120
df_scores['student'] = df_scores['StudentID']
df['student'] = df['Student#']
df_scores.loc[df_scores['StudentID'] == 20377120, 'student'] = 20717120
# df.loc[df['Student#'] == 20377120 , 'student'] = 20717120

# this one, his computer crashed so we have no log data 16204127
df_scores = df_scores[df_scores['student'] != 16204127]

df = df.drop('Student#', 1)
df_scores = df_scores.drop('StudentID', 1)
print set(df['student'])==set(df_scores['student'])

## Anonymizing data and saving
df_out1 = df.copy()
df_out2 = df_scores.copy()
df_out1['Anon Student Id'] = [hash(str(x)) for x in df_out1['student']]
df_out2['Anon Student Id'] = [hash(str(x)) for x in df_out2['student']]
df_out1.to_csv(path_or_buf='C:\Users\\'+getpass.getuser()+'\\Google Drive\Sarah Ido folder\data\CCK\MATCHING_phet_cck_user_actions+sophistication_WITHPAUSE_anonymized.txt', sep=',', header=True, index=False)
df_out2.to_csv(path_or_buf='C:\Users\\'+getpass.getuser()+'\\Google Drive\Sarah Ido folder\data\CCK\MATCHING_phet_cck_user_data_anonymized.txt', sep=',', header=True, index=False)
df_out1 = df_out1.drop('student', 1)
df_out2 = df_out2.drop('student', 1)
df_out1.to_csv(path_or_buf='C:\Users\\'+getpass.getuser()+'\\Google Drive\Sarah Ido folder\data\CCK\phet_cck_user_actions+sophistication_WITHPAUSE_anonymized.txt', sep=',', header=True, index=False)
df_out2.to_csv(path_or_buf='C:\Users\\'+getpass.getuser()+'\\Google Drive\Sarah Ido folder\data\CCK\phet_cck_user_data_anonymized.txt', sep=',', header=True, index=False)

True

In [2]:
df_out1.head()

,Activity,Time Stamp,Family,Action,Component,Outcome,#circuits,#loops,#components,#battery,#circuitSwitch,#grabBagResistor,#lightBulb,#resistor,#seriesAmmeter,Anon Student Id
0,a1,1363978501425,Build,add,lightBulb,None,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,986526943
1,a1,1363978503940,Organize,organizeWorkspace,junction,None,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,986526943
2,a1,1363978506034,Organize,organizeWorkspace,junction,None,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,986526943
3,a1,1363978508034,Organize,organizeWorkspace,junction,None,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,986526943
4,a1,1363978509800,Organize,organizeWorkspace,lightBulb,None,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,986526943